.home {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 3.2rem 0;
  backface-visibility: hidden;
}

.container {
  width: 100%;
}

.infContainer {
  width: 100%;
  padding: 0 2.4rem 2.4rem;
}

.title {
  font-size: 4.2rem;
  color: white;
  margin-bottom: .8rem;
  padding-top: 2.2rem;
}

.infParagraph {
  color: white;
  margin-bottom: 1.6rem;
  line-height: 2.5rem;
}

.videoCont {
  width: 100%;
  /* height: 33.5rem; */
}

.video {
  width: 100%;
  height: 100%;
}

@media (min-width: 480px) {
  .home {
  padding: 5.6rem 0;
  }
  .container {
    padding: 0 2.4rem;

  }
}

@media (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 1340px;
    height: 100%;
    padding: 0;
    position: relative;
    /* z-index: 3; */
  }

  .infContainer {
    padding: 4rem;
    width: 53%;
    position: absolute;
    top: 50%;
    transform: translate(0, -100%);
    z-index: 1;
  }

  .title {
    font-size: 7rem;
  }

  .videoCont {
    width: 50rem;
    height: 50rem;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .video {
    width: auto;
    height: 100%;
  }
}

@media (min-width: 992px) {
  .home {
    height: calc(100vh + 11.2rem);
  }

  .infContainer {
    width: 60%;
    height: auto;
  }

  .title {
    font-size: 12rem;
  }
  
  .videoCont {
    height: 90rem;
    width: 78rem;
  }
}